* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

h2 {
  margin-bottom: 10px;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
}

/* header */
#navbar {
  background: #fcd2d2;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

#navbar ul {
  list-style: none;
  display: flex;
}

#navbar ul li a {
  color: #eba4a4;
  padding: 1rem;
}

#navbar ul li a:hover {
  background: #eba4a4;
  color: #ffffff;
  border-radius: 5px;
}

.logo {
  display: flex;
  padding: 0.75rem;
  background-color: #eba4a4;
  border-radius: 5px;
}

.logo h1 {
  padding-right: 10px;
}

/* main */
main {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

article {
  padding: 1rem;
}

aside {
  background-color: #eba4a4;
  text-align: center;
  padding: 10px;
}

aside li {
  list-style-type: none;
  padding: 5px;
}

.gallery {
  grid-column: 1 / -1;
  padding: 20px;
  background-color: #fcd2d2;
  display: flex;
  flex-direction: column;
}

.gallery-grid {
  display: flex;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  width: 100%;
}

.gallery h3 {
  text-align: center;
  padding-bottom: 20px;
}

.gallery-item img {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
}

.gallery-item img:hover {
  transform: scale(110%);
  transition-duration: 500ms;
  box-shadow: 0px 0px 7px black;
}

#box {
  width: 200px;
  color: #ffffff;
  background-color: #fcd2d2;
  border-radius: 20px;
  text-align: center;
  font-size: 3em;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  grid-column: 1 / -1;
  margin-top: 10px;
}

.flexBox {
  background-color: #fcd2d2;
  padding: 20px;
  margin: 30px;
  flex: 1 1 30%;
  min-width: 20vw;
  max-width: 30%;
  height: 17vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.flexBox:hover {
  background-color: #eba4a4;
  transform: scale(110%);
  transform: rotateZ(360deg);
  transition-duration: 800ms;
}

/* footer */

footer {
  text-align: center;
  font-size: 1.5rem;
  background-color: #eba4a4;
  margin-top: 20px;
}

footer p {
  padding: 20px;
}

.social a {
  color: #ffffff;
  padding: 20px;
}
