footer {
    text-align: center;
    font-size: 1.5rem;
    background-color: #eba4a4;
    margin-top: 20px;
  }
  
  footer p {
    padding: 20px;
  }
  
  .social a {
    color: #ffffff;
    padding: 20px;
  }